body{
    margin: 0;
}

header{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    letter-spacing: .7rem;
}

main{
    width: 100%;
    margin: 2.5% auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(3, 200px);
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
}

#search,
input{
    width: 25%;
    border: cadetblue solid 2px;
    border-radius: 1rem;
    padding: .25% 1%;
    font-size: 1.5rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    letter-spacing: .05rem;
    &:focus{
        outline: none;
        transition: 1s;
        background-color: #e7e7e7; 
    }
    &:hover{
        transition: 1s;
        background-color: #e7e7e7;
    }
}

.thumb img{
    width: 200px;
    height: 200px;
    text-align: center;
    cursor: pointer;
}

